version: '2'

services:
  bundler:
    image: ghcr.io/vid201/silius:latest
    command: --rpc-listen-address 0.0.0.0:3000 --eth-client-address http://geth-dev:8545 --mnemonic-file /root/${BUNDLER_ACCOUNT} --beneficiary 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266 --entry-points 0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789 --rpc-api eth,debug
    ports: [ '3000:3000' ]
    volumes:
      - ./keys:/root
    depends_on: [ geth-dev ]

  fund-signer:
    image: ethereum/client-go:release-1.10
    entrypoint: 'geth --exec "eth.sendTransaction({from: eth.accounts[0], to: \"0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266\", value: web3.toWei(10000, \"ether\")})" attach http://geth-dev:8545'
    depends_on:
      geth-dev:
        condition: service_started

  geth-dev:
    build: geth-dev
    ports: [ '8545:8545' ]